.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-top: 30px;
    border-radius: 10px;
    border: 0.5px solid black;
    padding: 20px;
    background-color: #C1DEE2;
  }

  .inner-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-top: 30px;
    border-radius: 10px;
    border: 0.5px solid black;
    padding: 20px;
    background-color: #48B2BE;
}

  .appointment-card{
    text-align: center;
    margin-top: 5px;

  }
  .detail-container {
    margin-top: 20px;
  }
  
  .image-card-container {
    display: flex;
    align-items: flex-start;
  }

  .appointment-details {
    margin-top: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }


.inner-detail-container {
    background-color: #179abb; /* Color más fuerte para el contenedor interior */
    padding: 20px;
    margin-top: 20px; /* Añadir un margen superior para separarlo de la fila superior */
    border-radius: 10px;
    display: flex;
}
  
  .image {
    flex: 0 0 auto;
    height: 100%;
    margin-right: 20px;
  }
  
  .square-image {
    width: 200px; /* Ajusta el tamaño de la imagen según tus necesidades */
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
  }
  
  .card {
    flex: 1 1 auto;
  }

  .list {
    margin-right: 75px;
  }

  
  .appointment-info-card {
    background-color: #B7B1B1;
    color: #696969;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

  }

  .card-title {
    margin-top: 20px;
    margin-left:15px;
  }



.patient-details {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  