<div class="container">
    <div class="image-card-container">
      <div class="image">
        <img [src]="userData.img" alt="Imagen cuadrada" class="square-image">
      </div>
  
      <div class="card">
        <mat-card class="card">
          <mat-card-title class="card-title">Datos del paciente</mat-card-title>
          <mat-card-content class="patient-details">
            <p>Nombres y apellidos: {{ userData.firstName }} {{ userData.lastName }}</p>
            <p>Email: {{ userData.email }}</p>
            <p>Teléfono: {{ userData.phone }}</p>
            <p>Edad: {{ calculateAge(userData.date) }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  
    <div class="inner-container">
      <div class="image-card-container">
        <div class="list">
          <h2>Lista de Citas</h2>
          <mat-card *ngFor="let appointment of appointments" class="appointment-card" (click)="mostrarDetalleCita(appointment)">
            <mat-card-content>{{ appointment.scheduleDate }}</mat-card-content>
          </mat-card>
        </div>
  
        <div class="card" *ngIf="selectedAppointment">
          <mat-card class="card">
            <mat-card-title class="card-title">Detalle de la cita</mat-card-title>
            <mat-card-content class="appointment-details">
              <mat-card class="appointment-info-card">
                <mat-card-content>
                    <mat-card-subtitle>
                        Fecha:
                    </mat-card-subtitle>
                     {{ selectedAppointment.scheduleDate }}
                </mat-card-content>
              </mat-card>
              <mat-card class="appointment-info-card">
                <mat-card-content>
                    <mat-card-subtitle>
                        Motivo:
                    </mat-card-subtitle>
                     {{ selectedAppointment.motive }}
                </mat-card-content>
              </mat-card> 
              <mat-card class="appointment-info-card">
                <mat-card-content>
                    <mat-card-subtitle>
                        Examen realizado:
                    </mat-card-subtitle>
                     {{ selectedAppointment.testRealized }}
                </mat-card-content>
              </mat-card> 
              <mat-card class="appointment-info-card">
                <mat-card-content>
                    <mat-card-subtitle>
                        Tratamiento:
                    </mat-card-subtitle>
                     {{ selectedAppointment.treatment }}
                </mat-card-content>
              </mat-card> 

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  