* {
  box-sizing: border-box;
}

html,
body {
  background: #ecf0f3;
}

.citas-container {
  max-width: 60%;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #89C5CC;
  color: black;
  margin-top: 10rem;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.cita-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.cita-info {
  display: flex;
  justify-content: space-between;
}

.cita-icons {
  display: flex;
  margin-left: auto;
}

.cita-icons a {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.cita-fecha {
  font-weight: bold;
}

.cita-hora {
  color: #888;
}

.cita-paciente {
  font-style: italic;
}
