<div class="edit-profile">
  <form class="custom-form" (ngSubmit)="actualizarDatosPsicologo()">
    <h1>Editar Perfil</h1>

    <div class="profile-picture">
      <img [src]="userData.image" alt="Foto de perfil" [ngStyle]="{'border-radius': '50%', 'width': '150px', 'height': '150px', 'object-fit': 'cover'}">
    </div>

    <div>
      <label for="image">Foto de Perfil:</label>
      <input
      type="text"
      [(ngModel)]="userData.image"
      name="image"
      placeholder="Imagen"
      required="required"
      />
    </div>

    <div>
      <label for="name">Nombre completo:</label>
      <input
      [(ngModel)]="userData.name"
      name="name"
      placeholder="Nombre"
      required="required"
      />
    </div>

    <div>
      <label for="email">Email:</label>
      <input
      [(ngModel)]="userData.email"
      name="email"
      placeholder="Email"
      required="required"
      />
    </div>

    <div>
      <label for="password">Password:</label>
      <input
      [(ngModel)]="userData.password"
      name="password"
      placeholder="Password"
      required="required"
      />
    </div>

    <div>
      <label for="phone">Número de teléfono:</label>
      <input
      [(ngModel)]="userData.phone"
      name="phone"
      placeholder="Número de teléfono"
      required="required"
      />
    </div>

    <div>
      <label for="about">Sobre mí:</label>
      <input
      [(ngModel)]="userData.about"
      name="about"
      placeholder="Sobre mí"
      required="required"
      />
    </div>

    
    <button type="submit">Actualizar Datos</button>
  </form>
</div>

