<nav class="navbar navbar-expand-lg navbar-dark orange">
  <div class="container">
    <!-- <img src="assets/img/logomultitest.png" width="50" height="50"> -->
    <a class="navbar-brand mr-auto" href="#">Test</a>

    <div class="navbar-brand">
      <a title="tagA" href="home">
        <i class="bi bi-bootstrap-fill"></i>
      </a>
    </div>
    <button title="button1" type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav justify-content-end" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/calendario" routerLinkActive="active">Calendario</a>
        </li>
      </ul>
      <button class="btn btn-primary ml-2" [routerLink]="getProfileRoute()">Ir a Perfil</button>
    </div>
  </div>
</nav>

