


<div class="navbar">
  <mat-icon  fontIcon="home"></mat-icon>
   <a class="nav-link">Inicio</a>
  <mat-icon fontIcon="calendar_today"></mat-icon>
    <a class="nav-link" routerLink="/calendario" routerLinkActive="active">Calendario</a>
  <mat-icon fontIcon=" local_hospital"></mat-icon>
    <a class="nav-link" routerLink ="/logbook">pacientes</a>
  <mat-icon fontIcon="person_pin"></mat-icon>
    <a class="nav-link" [routerLink] ="getProfileRoute()" routerLinkActive="active">Ir a Perfil</a>

</div>







<div class="homebox">
  

  <div *ngFor="let element of publicationData" >
  
    <mat-card class="main-card" >
        <mat-card-header>
        
          <mat-card-title>{{element.title}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <div class="image-card-container">
        <img mat-card-image src="{{element.photoUrl}}" class="image-card" alt="Foto relacionada a la publicación">
        </div>
        <mat-card-content>
          <p>{{element.description}}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-stroked-button [routerLink]="['/knowMore',element.id]">Mas información</button>
        </mat-card-actions>
    </mat-card>
 
    </div>
    
</div>

<div class="citasData" >
  <div class="citasHeader">
    <h1>CITAS AGENDADAS</h1>
  </div>



    <div *ngFor="let appointment of appointmentsData">
      <mat-card class="citas-card">
        <mat-card-title>Tienes una cita agendada</mat-card-title>
        <div class = "citas-card-content">
          <mat-card-content class=""> 
            <p>Fecha: {{appointment.scheduleDate}}</p>
            <p>Historia personal: {{appointment.personalHistory}}</p>
            </mat-card-content>

          <mat-card-actions >
            <button  mat-stroked-button [routerLink]="['/knowMore',appointment.id]">Mas información</button>
          </mat-card-actions>
        </div>
      </mat-card>

    </div>
  
</div>